<div class="container">
  <%= link_to "New Article", new_article_path, class: "btn btn-primary new" %>
  <div class="newArticle" id="cardArticle">
    <%= render 'article', obj: @articles %>
  </div>
</div>

<script>
  new addArticle();
</script>