
<div class="container">
  <div class="row article show">
    <div class="">
      <div class="thumbnail">
        <h3><%= @article.title %></h3>
        <p><%= @article.description %></p>
        <div class="caption">
          <div class="buttons">
            <%= link_to 'Edit', edit_article_path(@article), class:"edit" %> 
            <%= link_to 'Back to the list', articles_path, class:"btn btn-primary ml20" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
