
  <% if obj.errors.any? %>
    <div class="alert alert-danger alert-dismissible" id="errors_messages" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4>
        <%= pluralize(obj.errors.count, "error") %> prevented the article
        from getting created
      </h4>
      <ul>
        <% obj.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

  <script>
    new deleteErrors;
  </script>