/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* font-family: 'Staatliches', cursive; */
/* font-family: 'Big Shoulders Display', cursive; */
*{
  box-sizing: border-box;
}

body {
  background: #E9EBEE;
}

.has-text-primary {
  color: #992337;
}
.is-two {
  display: flex;
  justify-content: space-between;
}

.is-two .likes a:hover,
small.likes a:hover {
  text-decoration: none;
}
.article-details {
  display: flex;
  justify-content: space-between;
}
a.page-scroll {
  font-family: 'Staatliches', cursive;
}
h2, h3{
  /* border-bottom: 1px solid #ccc; */
  font-family: 'Big Shoulders Display', cursive;
}
h3{
  font-weight: 400!important;
  text-align: left!important;
  
}
h3 a:hover{
  text-decoration: none!important;
}
h3 a {
  color: #000428!important;
}
.w100 {
  width: 100%;
}
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Navegation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navigation{
  margin-bottom: 120px;
}

.navigation nav {
  background: #14171c;
}

.navbar-header a{
  margin: 5px!important;
  font-size: 23px;
  color: #CEF6F5!important;
}
ul.navbar-right a{
  margin: 5px!important;
  border: 1px solid transparent!important;
  border-radius: 3px;
  color: #CEF6F5!important;
  padding: 10px 20px!important;
  font-size: 18px;
  letter-spacing: 2;
}

.navbar-nav {
  display: flex;
  align-items: center;
  height: 90px;
}

ul.navbar-right li:hover {
  background: #CEF6F5;
}

ul.navbar-right li:hover a{
  text-decoration: none;
  background-color: #CEF6F5!important;
  opacity: .9!important;
  border-radius:  3px;
  box-shadow: none;
  fill: #007791!important;
  color: #14171c!important;
  border: none!important;

}

.navegacion {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  color: #CEF6F5;
}

.navbar-default {
  border: 1px solid #666;
}

@media (max-width: 768px) {
 .navegacion {
   display: block;
   height: auto;
 }

 .navegacion ul {
   display: flex;
   justify-content: center; 
 }
}

.submenu, .dropdown{
  position: relative;
}
.submenu #articles, .dropdown #displayProfile{
  display: none;
}
.dropdown a.dropdown-toggle{
  border: 1px solid #888!important;
}
.submenu:hover #articles{
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  background-color: white;
  padding: 20px;
  min-height: 450px;
  min-width: 350px;
  border-radius: 20 20;
  border: 1px solid #ccc;
}
.dropdown:hover #displayProfile{
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  background-color: white;
  padding: 20px;
  min-height: 350px;
  min-width: 250px;
  border-radius: 20 20;
  border: 1px solid #ccc;
}
.submenu .ground{
  background: #004e92;
}
.submenu .ground:hover{
  color: white!important;
}
.delete-article{
  background-color: #000428;
  border-radius: 50%;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
ul.navbar-right .dropProfile li a{
  background-color: white!important;
  color: #000428!important;
}
ul.navbar-right .dropProfile li a:hover{
  background-color: #14171c!important;
  color: #dde1e9!important;
  display: block!important;
  border-radius: 0px 0px 0px!important;
}

/* END
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* MESSAGES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#msg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  opacity: .9;
  width: 100%;
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
}
/* END
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* HOME
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contenido-principal{
  height: 600px;
  position: relative;
}
.fila{
  margin-top: 50px;
  padding: 30px;
  border-bottom: 1px solid #505763;
  background-color: #333;
  opacity: .8;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 0px 15px 8px #eee;
}
@media (min-width: 800px){
  .fila{
    width: 57%;
    box-shadow: 0px 0px 15px 8px #eee;
  }
}
.fila .content-hero{
  color: #E1E1E1;
  font-weight: bold;
}

.content-hero #search-bar::placeholder {
  color: #050505;
  font-weight: 400;
}
.fila #submit-buscador{
  color: #FFF;
  background-color: #555;
  border: 1px solid #D1D1D1;
  margin-right: 7px;
}
.fila #submit-buscador:hover{
  box-shadow: 0 0 2px 4px rgba(88, 99, 121, 0.1), 0 3px 1px 0 rgba(72, 78, 88, 0.1);
}
.img-cover{
  height: 600px;
  position: absolute;
}
.img-cover img{
  width: 100%;
  height: 100%;
}




/* END
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NewEst
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.newest{
  background-color: rgb(77, 74, 75);
  margin-top: 0;
  display: flex;
  flex-direction: row-reverse;
}
.newest .article{
  margin: 10px 30px;
  color: #E1E1E1;
}
.newest .article .title{
  font-size: 22px;
  margin: 3px;
  letter-spacing: 0;
}
@media (max-width: 668px){
  .newest .article .title{
    display: none;
  }
  .newest{
    justify-content: center;
  }
  .newest .article .img{
    width: 20px;
  }
}
.newest .article .title:hover{
  color: #888;
  cursor: pointer;
}
.newest .article .img{
  text-align: center;
}

/* END
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* FORM */

.formSignUp, .formLogIn {
  display: flex;
  justify-content: center;
}

.login {
  width: 430px;
  height: auto;
  padding: 60px 35px 35px 35px;
  border-radius: 10px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  background: radial-gradient(circle, #555555, #535353, #505050, #4e4e4e, #4c4c4c);
  box-shadow:
  0px 20px 20px rgba(0,0,0,0.2),
  0px 5px 10px rgba(0,0,0,0.2),
  0px 70px 50px rgba(0,0,0,0.4),
  30px 50px 50px rgba(0,0,0,0.2),
  -30px 50px 50px rgba(0,0,0,0.2),
  inset 20px 0px 60px rgba(0,0,0,0.1),
  inset -20px 0px 60px rgba(0,0,0,0.1); 
}

.logoSignUp {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #000428;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  margin: 0 auto;
}

.logoSignUp span {
  font-weight: 500;
  font-size: 1.5rem;
}

.title {
  text-align:  center;
  font-size: 1.9rem;
  padding-top: 5px;
  letter-spacing: 0.5px;
}

.sub-title {
  text-align: center;
  font-size: 1.3rem;
  padding-top: 7px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
}

.fields {
  width: 100%;
  padding: 40px 5px 30px 5px;
}

.fields input {
  border: none!important;
  outline: none;
  background: none!important;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  color: #CEF6F5;
  padding: 10px 10px 10px 5px;
}

input[rel="username"],
input[rel="pass"],
input[rel="email"] {
  display: block!important;
  margin-bottom: 30px!important;
  border-bottom: 1px solid #b3b3b3!important;
  border-radius: 0!important;
  width: 100%;
  padding: 20px!important;
}

::placeholder, .backList {
  color: #CEF6F5;
  opacity: 1;
  font-size: 1.4rem;
  font-weight: 300;
}

form input.btnSubmit {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: 'Lato';
  color: #CEF6F5;
  text-align: center;
  letter-spacing: 1px;
  background: radial-gradient(circle, #4c4c4c, #14171c);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

form input.btnSubmit:hover {
  color: #CEF6F5;
}

.flex {
  display: flex;
  flex-direction: column;
}

form .backList {
  text-align: center;
  padding-top: 10px;
}

.backList:hover {
  color: #CEF6F5;
  text-decoration: none;
}

.fields i.fa-user-circle {
  position: absolute;
  top: 48.9%;
}

.fields i.fa-envelope-o {
  position: absolute;
  top: 60.7%;
}

.fields i.fa-envelope-o[rel="email"] {
  position: absolute;
  top: 55.4%;
}

.fields i.fa-lock {
  position: absolute;
  top: 72.3%;
}

.fields i.fa-lock[rel="pass"] {
  position: absolute;
  top: 69.0%;
}

/* END */

/* PAGINATION */
.pagination li a {
  border: 1px solid #F8B34C!important;
  background: black!important;
  color: white!important;
}

.pagination li.active a {
  background: #CEF6F5!important;
  color: black!important;
}


/* END */
/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wellCat {
  border: 1px solid #aeaeae;
  margin: 2px;
  padding: 10px;
  /* width: 33.333%; */
}

.fle {
  display: flex;
  flex-direction: row;
}

.category_list {
  display: flex;
}
.container .title{
  margin-top: 30px;
}
.categories{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
@media (max-width: 1200px){
  .categories{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px){
  .categories{
    grid-template-columns: 1fr;
  }
}

.categories .title{
  margin-left: 20px;
}

.panel-content{
  display: inline-block;
}
.panel-content .panel{
  background-color: #992337;
  margin: 20px;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  opacity: 1;
}
.panel-content .blue{
  background-color: #666;
}
.panel-content a{
  color: #fff;
  font-size: 17px;
}
.panel-content a:hover{
  color: #000428;
  text-decoration: none;
}
.panel-content .panel:hover{
  box-shadow: 0 0 2px 4px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  cursor: pointer;
}

/* END
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mt50 {
  margin-top: 45px;
}

.mt50 h2 {
  text-align: center;
}
.category {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #666;
  padding: 20px;
  height: 100px;
  border-radius: 4px;
  background: #666;
  box-shadow: 1px 2px 18px rgba(0,0,0,0.5);
  margin-bottom: 40px;
}

.category .content {
  text-align: center;
}

.category .content p {
  margin-bottom: 0;
}

.category .content p a {
  color: #fff;
  font-size: 20px;
}
/* listing articles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.newArticle{
  margin-top: 40px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;

}
@media (max-width: 900px){
  .newArticle{
    grid-template-columns: 1fr;
  }
}
.new{
  width: 200px!important;
  margin-top: 20px!important;
}
.favorites{
  display: flex;
  flex-direction: row-reverse;
}
.favorites a{
  font-size: 23px;
}
.favorites a:hover{
  color: #992337;
}

.article-details .mb5{
  margin-bottom: 5px;
  color: #2077D3;
}
.article-details .grey{
  color: #A0A0A0;
}
.article:hover {
  transform: scale(1.03);
  transition: ease-in-out;
}
.thumbnail{
  border: none;
  background-color: #F7F8FA;
  transition: all 1.3s;
  border-radius: 0;
  box-shadow: 1px 1px 15px #666;
}
.thumbnail:hover{
  transform: scale(1.03);
  transition: ease-in-out;
  background-color: #F7F8FA;
}

.thumbnail p {
  margin-bottom: 0!important;
  font-weight: 400!important;
}
.data-id{
  display: none;
}
.newArticle .buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  border-top: 1px solid #888;
  padding: 5px;
  text-align: center;
}
.newArticle .buttons p{
  margin-top: 10px!important;
}
.newArticle .buttons a{
  border: 1px solid #a5a5a5;
  text-decoration: none;
  padding: 5px 20px;
  color: #a5a5a5;
  margin-top: 7px;
}
.newArticle .buttons a:hover{
  background: #050505;
  border: 1px solid #f5f3f3;
  text-decoration: none;
  padding: 5px 20px;
  color: #f7f4f4;
  margin-top: 7px;
}
.btn-primary{
  background-color: #992337!important;
  border-color: #eee!important;
}

/* END
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* EDIT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.form{
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #a5a5a5;
  padding: 40px 30px;
  box-shadow: 1px 1px 15px #666;
}
.form .ml20{
  margin-left: 20px;
}
.center{
  text-align: center;
  margin-top: 5px;
}
.btnTwo{
  display: flex;
  justify-content: space-between!important;
}

.form textarea {
  height: 250px;
}
@media (max-width: 850px){
  .btnTwo{
    flex-flow: column;
  }
  .form{
    width: 90%;
  }
}
.btnTwo .fit{
  height: fit-content;
  padding: 8px;
  margin-left: 0!important;

}
/* END
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* SHOW
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.show{
  padding: 30px;
  width: 70%;
  margin: 0 auto;
}
.show .p20, .thumbnail{
  padding: 20px;
}
.columnBtn{
  display: flex;
  flex-direction: row;
  place-content: flex-end;
}
@media (max-width: 850px){

  .columnBtn{
    display: flex;
    flex-flow: column;
  }
}

/* END
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* INDEX FOR USERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.users {
  display: flex;
  flex-wrap: wrap;
}

.listing{
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  width: 25%;
  text-align: center;
}

ul li.count {
  color: #fff;
}

.listing li:first-child {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 20px;
}

.listing li {
  font-size: 19px;
  margin-bottom: 2px;
}

.listing li a {
  color: #f7be16;
}

.listing li:last-child {
  font-size: 14px;
  cursor: pointer;
  margin-top: 0;
  color: #fff;
  font-weight: bold;
}

div.center >p{
  text-align: center!important;
}
.badge{
  background: transparent;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.badge a {
  color: #F8B34C;
  opacity: 0.8;
  border-bottom: 1px solid #aeaeae;
}

.badge a:hover {
  color: #f7be16;
  border: none;
  opacity: 1;
}

.input_checkbox input{
  width: auto !important;
}

.well {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 400px;
  border: none;
  box-shadow: 1px 1px 15px #666;
  background: rgba(0,0,0,0.7);
}

ul.articles {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.articles li {
  border-bottom: none!important;
  margin-bottom: 0!important;
  padding: 0!important;
  cursor: pointer;
  text-align: center!important;
}
ul.articles li:hover {
  text-decoration: underline;
}
/* END
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* SHOW FOR USERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mt15{
  margin-top: 15px;
  text-align: center;
}
.well{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.center{
  text-align: center;
}
.center h4{
  margin-bottom: 0px;
}
.center small{
  color: #1EAEDB;
}
.center p{
  margin-top: 0px;
  padding: 0px;
}

/* END
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.colum {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  margin-right: 10px;
}

.left {
  font-size: 15px;
}


/* SESSIONS NEW
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* .width50{
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 850px){
  .width50{
    width: 90%;
  }
} */


/* END
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.empty{
  height: 130px;
}
.footer{
  background-color: #f7f8fa;
  padding: 20px;
  height: 100px;
  border-top: 1px solid #686f7a;
  margin-top: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
  background: #4d4a4b;
}
.footer .logo{
  text-align: center;
  color: #fff;
}
/* END
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  /* margin-bottom: 120px; */
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
.edit,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
.edit:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
.edit:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


