<% if !logged_in? %>
<div class="alert alert-info alert-login" role="alert">
  <p>
    Do you want to write awesome articles? <span class=""> Join now.!!!</span>
  </p>  
    <%= link_to "Login", login_path, class: "" %> 
</div>
<% end %>